Amg-ingressos-aqui-carrinho-tests/obj
Amg-ingressos-aqui-carrinho-api/obj/
Amg-ingressos-aqui-carrinho-tests/obj/Amg-ingressos-aqui-carrinho-tests.csproj.nuget.dgspec.json
Amg-ingressos-aqui-carrinho-tests/obj/Amg-ingressos-aqui-carrinho-tests.csproj.nuget.g.props
Amg-ingressos-aqui-carrinho-tests/obj/Amg-ingressos-aqui-carrinho-tests.csproj.nuget.g.targets
Amg-ingressos-aqui-carrinho-tests/obj/project.assets.json
Amg-ingressos-aqui-carrinho-tests/obj/project.nuget.cache
Amg-ingressos-aqui-carrinho-tests/obj/Debug/net7.0/Amg-ingressos-aqui-carrinho-tests.assets.cache
Amg-ingressos-aqui-carrinho-tests/obj/Debug/net7.0/Amg-ingressos-aqui-carrinho-tests.csproj.AssemblyReference.cache
Amg-ingressos-aqui-carrinho-tests/obj/Debug/net7.0/Amg-ingressos-aqui-carrinho-tests.csproj.CoreCompileInputs.cache
Amg-ingressos-aqui-carrinho-tests/obj/Debug/net7.0/Amg-ingressos-aqui-carrinho-tests.csproj.FileListAbsolute.txt
Amg-ingressos-aqui-carrinho-tests/obj/Debug/net7.0/Amg-ingressos-aqui-carrinho-tests.dll
Amg-ingressos-aqui-carrinho-tests/obj/Debug/net7.0/Amg-ingressos-aqui-carrinho-tests.GeneratedMSBuildEditorConfig.editorconfig
Amg-ingressos-aqui-carrinho-tests/obj/Debug/net7.0/Amg-ingressos-aqui-carrinho-tests.genruntimeconfig.cache
Amg-ingressos-aqui-carrinho-tests/obj/Debug/net7.0/Amg-ingressos-aqui-carrinho-tests.pdb
Amg-ingressos-aqui-carrinho-tests/obj/Debug/net7.0/ref/Amg-ingressos-aqui-carrinho-tests.dll
Amg-ingressos-aqui-carrinho-tests/obj/Debug/net7.0/refint/Amg-ingressos-aqui-carrinho-tests.dll
Amg-ingressos-aqui-carrinho-tests/bin/Debug/net7.0/Amg-ingressos-aqui-carrinho-api.deps.json
Amg-ingressos-aqui-carrinho-tests/bin/Debug/net7.0/Amg-ingressos-aqui-carrinho-api.dll
Amg-ingressos-aqui-carrinho-tests/bin/Debug/net7.0/Amg-ingressos-aqui-carrinho-api.exe
Amg-ingressos-aqui-carrinho-tests/bin/Debug/net7.0/Amg-ingressos-aqui-carrinho-api.pdb
Amg-ingressos-aqui-carrinho-tests/bin/Debug/net7.0/Amg-ingressos-aqui-carrinho-tests.deps.json
Amg-ingressos-aqui-carrinho-tests/bin/Debug/net7.0/Amg-ingressos-aqui-carrinho-tests.dll
Amg-ingressos-aqui-carrinho-tests/bin/Debug/net7.0/Amg-ingressos-aqui-carrinho-tests.pdb
Amg-ingressos-aqui-carrinho-tests/bin/Debug/net7.0/AutoMapper.dll
Amg-ingressos-aqui-carrinho-tests/bin/Debug/net7.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
Amg-ingressos-aqui-carrinho-tests/bin/Debug/net7.0/CoverletSourceRootsMapping
Amg-ingressos-aqui-carrinho-tests/bin/Debug/net7.0/nunit_random_seed.tmp
Amg-ingressos-aqui-carrinho-tests/bin/Debug/net7.0/QRCoder.dll
Amg-ingressos-aqui-carrinho-tests/bin/Debug/net7.0/testhost.exe
Amg-ingressos-aqui-carrinho-api/obj/Amg-ingressos-aqui-carrinho-api.csproj.nuget.dgspec.json
Amg-ingressos-aqui-carrinho-api/obj/Amg-ingressos-aqui-carrinho-api.csproj.nuget.g.props
Amg-ingressos-aqui-carrinho-api/obj/Amg-ingressos-aqui-carrinho-api.csproj.nuget.g.targets
Amg-ingressos-aqui-carrinho-api/obj/project.assets.json
Amg-ingressos-aqui-carrinho-api/obj/project.nuget.cache
Amg-ingressos-aqui-carrinho-api/obj/Debug/net7.0/Amg-ingressos-aqui-carrinho-api.assets.cache
Amg-ingressos-aqui-carrinho-api/obj/Debug/net7.0/Amg-ingressos-aqui-carrinho-api.csproj.AssemblyReference.cache
Amg-ingressos-aqui-carrinho-api/obj/Debug/net7.0/Amg-ingressos-aqui-carrinho-api.csproj.CoreCompileInputs.cache
Amg-ingressos-aqui-carrinho-api/obj/Debug/net7.0/Amg-ingressos-aqui-carrinho-api.csproj.FileListAbsolute.txt
Amg-ingressos-aqui-carrinho-api/obj/Debug/net7.0/Amg-ingressos-aqui-carrinho-api.dll
Amg-ingressos-aqui-carrinho-api/obj/Debug/net7.0/Amg-ingressos-aqui-carrinho-api.GeneratedMSBuildEditorConfig.editorconfig
Amg-ingressos-aqui-carrinho-api/obj/Debug/net7.0/Amg-ingressos-aqui-carrinho-api.genruntimeconfig.cache
Amg-ingressos-aqui-carrinho-api/obj/Debug/net7.0/Amg-ingressos-aqui-carrinho-api.pdb
Amg-ingressos-aqui-carrinho-api/obj/Debug/net7.0/ref/Amg-ingressos-aqui-carrinho-api.dll
Amg-ingressos-aqui-carrinho-api/obj/Debug/net7.0/refint/Amg-ingressos-aqui-carrinho-api.dll
Amg-ingressos-aqui-carrinho-api/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.Amg-ingressos-aqui-carrinho-api.props
Amg-ingressos-aqui-carrinho-api/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.Amg-ingressos-aqui-carrinho-api.props
Amg-ingressos-aqui-carrinho-api/bin/Debug/net7.0/Amg-ingressos-aqui-carrinho-api.deps.json
Amg-ingressos-aqui-carrinho-api/bin/Debug/net7.0/Amg-ingressos-aqui-carrinho-api.dll
Amg-ingressos-aqui-carrinho-api/bin/Debug/net7.0/Amg-ingressos-aqui-carrinho-api.exe
Amg-ingressos-aqui-carrinho-api/bin/Debug/net7.0/Amg-ingressos-aqui-carrinho-api.pdb
Amg-ingressos-aqui-carrinho-api/bin/Debug/net7.0/AutoMapper.dll
Amg-ingressos-aqui-carrinho-api/bin/Debug/net7.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
Amg-ingressos-aqui-carrinho-api/bin/Debug/net7.0/QRCoder.dll
