Amg-ingressos-aqui-carrinho-tests/obj/
Amg-ingressos-aqui-carrinho-api/obj/
Amg-ingressos-aqui-carrinho-api/bin/
Amg-ingressos-aqui-carrinho-tests/bin/
Amg-ingressos-aqui-carrinho-api/bin/Debug/
Amg-ingressos-aqui-carrinho-api/bin/Debug/
.vscode/
Amg-ingresso-aqui-carrinho-api/bin/Publish
.vs/
